exportPattern("^[[:alpha:]]+")
    importFrom("arm", "bayesglm")
    importFrom("brnn", "brnn")
    importFrom("broom", "tidy")
    importFrom("C50", "C5.0")
    importFrom("caret", "dummyVars")
    importFrom("class", "knn")
    importFrom("corrplot", "corrplot")
    importFrom("Cubist", "cubist")
    importFrom("dplyr", "across", "all_of", "any_of", "count", "desc", "filter", "last_col", "mutate", "mutate_if", "n_distinct", "relocate", "rename", "select" , "select_all")
    importFrom("doParallel", "registerDoParallel")
    importFrom("e1071", "naiveBayes", "tune.randomForest", "tune.rpart", "tune.svm", "tune.gknn", "svm")
    importFrom("fable", "ARIMA", "ETS", "MEAN", "NAIVE", "NNETAR", "RW", "SNAIVE", "TSLM", "VAR")
    importFrom("fabletools", "accuracy", "as_tsibble", "augment", "autoplot", "components", "features", "report")
    importFrom("fable.prophet", "prophet")
    importFrom("feasts", "STL", "gg_season", "gg_lag")
    importFram("fracdiff", "coef_hurst")
    importFrom("gam", "gam", "gam.s", "s")
    importFrom("gbm", "gbm")
    importFrom("GGally", "ggpairs")
    importFrom("ggplot2", "aes", "expansion", "facet_wrap", "geom_boxplot", "ggplot", "geom_histogram", "labs", "theme_bw")
    importFrom("glmnet", "glmnet", "cv.glmnet")
    importFrom("graphics", "mtext", "pairs", "hist", "panel.smooth", "par", "rect")
    importFrom("gridExtra", "arrangeGrob")
    importFrom("gt", "gt", "tab_header", "fmt_number", "fmt_percent")
    importFrom("gtExtras", "gt_theme_guardian", "gt_highlight_rows")
    importFrom("ipred", "bagging")
    importFrom("kernlab", "gausspr", "lssvm")
    importFrom("klaR", "rda")
    importFrom("leaps", "regsubsets")
    importFrom("magrittr", "%>%")
    importFrom("MASS", "lqs", "rlm", "lda")
    importFrom("MachineShop", "fit")
    importFrom("mda", "fda", "mda")
    importFrom("Metrics", "rmse")
    importFrom("neuralnet", "neuralnet", "compute")
    importFrom("parallel", "makeCluster")
    importFrom("pls", "pcr", "plsr")
    importFrom("pROC", "auc", "ggroc", "roc")
    importFrom("purrr", "keep", "map_dbl")
    importFrom("randomForest", "randomForest")
    importFrom("reactable", "reactable")
    importFrom("reactablefmtr", "add_title")
    importFrom("readr", "read_lines")
    importFrom("rpart", "rpart")
    importFrom("scales", "label_comma")
    importFrom("stats", "AIC", "as.formula", "BIC", "binomial", "complete.cases", "cor", "gaussian", "reorder", "sd", "predict", "quantile", "residuals", "stl", "lag", "var")
    importFrom("tibble", "as_tibble")
    importFrom("tidyr", "gather", "drop_na", "pivot_longer")
    importFrom("tree", "tree", "cv.tree", "misclass.tree", "prune.misclass")
    importFrom("tsibble", "tsibble", "as_tibble")
    importFrom("utils", "head", "read.csv", "tail", "str")
    importFrom("xgboost", "xgb.DMatrix", "xgb.train")
